<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body background="../tennis.jpg">
 <h1>WeSport</h1>

<table>
   <th>October 2015</th>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>   
    <th>Wednesday</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>    
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>    
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>    
    <td>80</td>
  </tr>
</table>


  <form class="form-signin" action="/login" method="post">
 <h2>Find your Sport Partner!</h2>
   <h4> Here you can find all the possible sport partners!</h4>
   <input type="email" id="email" name="email" placeholder="Enter your email address">
  <input type="password" class="input-block-level" name="password" placeholder="Enter your password">
  <input type="submit" value="login">
   <br>
   <a href="register.html">New User? Sign up here!</a>
  </form>
</body>
</html>