.form-signin {
       display: inline-block;
    margin-left: 40%;
    margin-top: 25%;
    width: 300px;
      }

#card {
  position: relative;
  width: 500px;
  height:500px;
  margin: 25% 0% 0% 25%;
}

h1 {
        font-color: white;
        color: white;
        text-decoration: white;
      border-style: solid;
    border-width: 5px;
    font-size: 1.25em;
    margin-right: 93%;

      }

      h2{
        color:white;
      }
      h4{
        color:white;
      }

form {
  position: relative;
  width: 35%;
  height: 50%;
  margin:5% 30%; 
}