body {
    background: url("/img/tennis.jpg") no-repeat center fixed;
    
    background-size: cover;
    
}


.form-signin {
       display: inline-block;
    margin-left: 40%;
    margin-top: 25%;
    width: 300px;
      }
h1 {
        font-color: white;
        color: white;
        text-decoration: white;
      border-style: solid;
    border-width: 5px;
    font-size: 1.25em;
    margin-right: 93%;

      }

      h2{
        color:white;
      }
      h4{
        color:white;
      }